body {
    text-align: center;
    background-color: #eee;
  }
  
  .wrapper {
    background-color: rgba(36, 184, 134, 0.747);
    width: 400px;
    height: 200px;
    margin: 5px;
    border: 5px;
    border-radius: 5px;
  }
  